<% provide(:title, @user.name) %>
<style>
 .col-md-offset-4{
                border: 1px solid black;
}
</style>


<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>お客様情報</h2>
        <table>
        <tr>
        <td>お名前:</td>
        <td><%= @user.name %></td>
        </tr>
        <tr>
        <td>メールアドレス:</td>
        <td><%= @user.email %></td>
        </tr>
        <tr>
        <td>住所:</td>
        <td><%= @user.address %></td>
        </tr>
        </table>
        <br><br><br>
    </div>
    <div class="col-md-4 text-center">
    <h4><%= link_to "変更", edit_user_path,class: "btn btn-success btn-lg" %></h4><br>
    <%= link_to "退会", user_path(current_user), class: "btn btn-danger btn-lg", method: :delete,  data: { confirm: "退会しますか？" } %>
        
    </div>

</div>
