<h2>買い物カゴ <%= link_to ">>>買い物を続ける", root_path %></h2><br><br>
    <% unless @cart_items.empty? %>
        <% @cart_items.each_with_index do |item,n| %>
            <% if n == 0 %>
            
            <div class = "row">
            <div class="col-md-4">
            
            <%= link_to image_tag("image1.jpeg", class:"img-rounded",size: '250x250' ), "/products/#{item.product.id}" %>
            </div>

            <div class="col-md-4">
                <br><br><br><br>
                商品名：<%= item.product.name %><br>
                サイズ：<%= item.product.size.size %><br>
                在庫数：<%= item.product.stock.stock %><br>
                <% if item.product.stock.stock == item.quantity and item.product.stock.stock == 1%>
                    購入数：<%= item.quantity %><br>
                    <br>
                    <%= link_to "買い物カゴから削除",  cart_items_path(product_id: item.product_id), class: "btn btn-danger", method: :delete,
                            data: { confirm: '買い物カゴから削除してもよろしいですか？' } %>

                <% elsif item.product.stock.stock == item.quantity  %>
                購入数：<%= item.quantity %><br>
                    <%= link_to "-",  cart_items_path(judge: 0, product_id: item.product_id), class: "btn btn-warning", method: :put %> <br><br>
                    <%= link_to "買い物カゴから削除",  cart_items_path(product_id: item.product_id), class: "btn btn-danger", method: :delete,
                            data: { confirm: '買い物カゴから削除してもよろしいですか？' } %>
                <% elsif item.quantity == 1 %>
                購入数：<%= item.quantity %><br>
                    <%= link_to "+",  cart_items_path(judge: 1, product_id: item.product_id), class: "btn btn-success", method: :put %><br><br>
                    <%= link_to "買い物カゴから削除",  cart_items_path(product_id: item.product_id), class: "btn btn-danger", method: :delete,
                            data: { confirm: '買い物カゴから削除してもよろしいですか？' } %><br>
                <% elsif item.quantity < item.product.stock.stock  and  item.quantity == 1%>
                    購入数：<%= item.quantity %><br>
                    <%= link_to "+",  cart_items_path(judge: 1, product_id: item.product_id), class: "btn btn-success", method: :put %><br><br>
                    <%= link_to "買い物カゴから削除",  cart_items_path(product_id: item.product_id), class: "btn btn-danger", method: :delete,
                         data: { confirm: '買い物カゴから削除してもよろしいですか？' } %><br>
                <% else %>
                    購入数：<%= item.quantity %><br>
                    <%= link_to "-",  cart_items_path(judge: 0, product_id: item.product_id), class: "btn btn-warning", method: :put %>
                    <%= link_to "+",  cart_items_path(judge: 1, product_id: item.product_id), class: "btn btn-success", method: :put %><br><br>
                    <%= link_to "買い物カゴから削除",  cart_items_path(product_id: item.product_id), class: "btn btn-danger", method: :delete,
                            data: { confirm: '買い物カゴから削除してもよろしいですか？' } %><br>

                 <% end %>
                
                

                
            </div>

            <div class="col-md-4">
                <h2> 総額：<%= @cart_sum %>円 </h2><br>
                <%= link_to "レジへ進む", credit_confirm_path, class: "btn btn-primary btn-lg" %><br><br>
            </div>

            </div>
            <br>
            <% else %>

            <div class = "row">
                <div class="col-md-4">
                <%= link_to image_tag("image1.jpeg", class:"img-rounded",size: '250x250' ), "/products/#{item.product.id}" %>
                </div>

                <div class="col-md-4">
                    <br><br><br><br>
                    商品名：<%= item.product.name %><br>
                    サイズ：<%= item.product.size.size %><br>
                    在庫数：<%= item.product.stock.stock %><br>
                    購入数：<%= item.quantity %><br>
                    <% if item.product.stock.stock == item.quantity and item.product.stock.stock == 1%>
                        <br>
                        <%= link_to "買い物カゴから削除",  cart_items_path(product_id: item.product_id), class: "btn btn-danger", method: :delete,
                                data: { confirm: '買い物カゴから削除してもよろしいですか？' } %>

                    <% elsif item.product.stock.stock == item.quantity  %>
                        <%= link_to "-",  cart_items_path(judge: 0, product_id: item.product_id), class: "btn btn-warning", method: :put %> <br><br>
                        <%= link_to "買い物カゴから削除",  cart_items_path(product_id: item.product_id), class: "btn btn-danger", method: :delete,
                                data: { confirm: '買い物カゴから削除してもよろしいですか？' } %>
                    <% elsif item.quantity == 1 %>
                        <%= link_to "+",  cart_items_path(judge: 1, product_id: item.product_id), class: "btn btn-success", method: :put %><br><br>
                        <%= link_to "買い物カゴから削除",  cart_items_path(product_id: item.product_id), class: "btn btn-danger", method: :delete,
                                data: { confirm: '買い物カゴから削除してもよろしいですか？' } %><br>
                    <% elsif item.quantity < item.product.stock.stock  and  item.quantity == 1%>
                        購入数：<%= item.quantity %><br>
                        <%= link_to "+",  cart_items_path(judge: 1, product_id: item.product_id), class: "btn btn-success", method: :put %><br><br>
                        <%= link_to "買い物カゴから削除",  cart_items_path(product_id: item.product_id), class: "btn btn-danger", method: :delete,
                             data: { confirm: '買い物カゴから削除してもよろしいですか？' } %><br>
                    <% else %>
                        <%= link_to "-",  cart_items_path(judge: 0, product_id: item.product_id), class: "btn btn-warning", method: :put %>
                        <%= link_to "+",  cart_items_path(judge: 1, product_id: item.product_id), class: "btn btn-success", method: :put %><br><br>
                        <%= link_to "買い物カゴから削除",  cart_items_path(product_id: item.product_id), class: "btn btn-danger", method: :delete,
                                data: { confirm: '買い物カゴから削除してもよろしいですか？' } %><br>


                     
                    <% end %>
                </div>

                <div class="col-md-4">

                </div>

            </div>
            <br>
            <% end %>
                    
                    
        <% end %>
    <% else %>
        <h4>買い物カゴに何もありません</h4>
    <% end %>


