


<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Naokari", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        
        
        
        <% if logged_in? %>
        <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               お客様情報 <b class="caret"></b>
             </a>
             <ul class="dropdown-menu">
               <li><%= link_to "登録情報", current_user %></li>
               <li><%= link_to "退会したい方へ", "#" %></li>
               <li class="divider"></li>
               <li>
                 <%= link_to "Log out", logout_path, method: :delete %>
                 <% if admin? %>
                 <%= link_to "売り上げ", orders_path %>
                 <% end %>
               </li>
             </ul>
           </li>
           <li><%= link_to "買い物かご", cart_items_path %></li>
           
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              ジャンル別 <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              
            </ul>
          </li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              ジャンル別 <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">

              <li><%= link_to "Profile", "#" %></li>
              <li><%= link_to "Settings", "#" %></li>
              <li class="divider"></li>

            </ul>
          </li>

          <li><%= link_to "Log in", login_path %></li>
          
        <% end %>
      </ul>
    </nav>
  </div>
</header>